@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Frank Ruhl Libre', serif;
}


/* UTILITIES */
.btn {
  background-color: white;
  width: 131px;
  height: 39px;
  border-radius: 100px;
  border: none;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  font-size: 0.625rem;
  color: rgba(0, 0, 0, 0.8);
}


.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "hero-blue hero-blue hero-blue hero-right hero-right hero-right"
    ". nav nav nav nav ."
    "personal-finance personal-finance personal-finance personal-finance personal-finance personal-finance"
    "about about about about about about"
    "step-0 step-0 step-1 step-1 . ."

  ;
}

.hero-blue {
  grid-area: hero-blue;
  background-color: rgba(199, 221, 234, 1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: 544px;
}

.hero-blue__content {
  padding: 0 100px;
}

.hero-blue h1 {
  font-size: 2.8125rem;
  line-height: 2.8125rem;
  margin-top: 4.44rem;
  margin-bottom: 1rem;
}

.hero-blue p {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  line-height: 1.5rem;
  margin-bottom: 3.2rem;
  font-size: 0.875rem;
  max-width: 268px;
}

.hero-blue span {
  color: white;
}

.hero-blue img {
  position: absolute;
  bottom: 0;
  right: 1rem;
}

/* Hero orange */
.hero-right {
  grid-area: hero-right;
}

.hero-right__orange,
.hero-right__yellow {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-right__orange p,
.hero-right__yellow p {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  font-size: 0.6875rem;
}

.hero-right__orange h2,
.hero-right__yellow h2 {
  color: rgba(255, 255, 255, 1);
  font-weight: 900;
  font-size: 2rem;
}

.hero-right__orange {
  background-color: rgba(241, 121, 73, 1);
}

.hero-right__yellow {
  background-color: rgba(255, 185, 57, 1);
}

/* Nav */
nav {
  grid-area: nav;
  display: flex;
  justify-content: space-around;
}

a {
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
  font-size: 0.75rem;
  text-decoration: none;
  padding: 1.25rem 0;
}

.active {
  color: black;
}

/* personal finance */
.personal-finance {
  grid-area: personal-finance;
  background-color: rgba(169, 161, 158, 1);
  height: 612px;
  position: relative;
}

.personal-finance__content {
  margin: 103px 100px 0px 100px;
}

.personal-finance__text-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.personal-finance__text {
  display: flex;
  justify-content: space-between;
}

.personal-finance__content h2 {
  color: #fff;
  line-height: 2.8125rem;
  font-size: 2.8125rem;
  max-width: 314px;
}

.personal-finance__content p {
  max-width: 280px;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}

/* Cards */
.cards-container {
  margin: 0 100px;
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: -167px;
}

.card {
  height: 308px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  /* overflow: hidden; */
  position: relative;
}

.card__img {
  background: #C7DDEA;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  margin: 0 10px;
  height: 150px;
  position: absolute;
  top: -26px;
  width: 233px;
}

.card__img img {
  height: 90%;
  margin-top: auto;
}

.card h2 {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 0.875rem;
  margin-top: 150px;
}

.card p {
  font-size: 0.6875rem;
  font-weight: 700;
  line-height: 1.125rem;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  margin: 0 21px 0px 21px;
}

.card--yellow .card__img {
  background-color: rgba(250, 177, 49, 1);
}

.card--orange .card__img {
  background-color: rgba(241, 121, 73, 1);
}

/* ABOUT US */

.about {
  grid-area: about;
  background: #FAB131;
  height: 680px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.about h2 {
  font-size: 2.8125rem;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 0.6875rem;

}

.about p {
  max-width: 442px;
  margin-bottom: 100px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}




/* HOW IT WORKS? */

.step-0 {
  grid-area: step-0;
}

.step-1 {
  grid-area: step-1;
}

.step {
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.step aside {
  align-self: flex-start;
  padding: 25px;
  font-weight: 900;
  font-size: 35px;
  color: rgba(0, 0, 0, 0.4);
}

.step h3 {
  font-weight: 500;
  font-size: 17px;
  color:rgba(0, 0, 0, 0.7);
  font-family: "Fira Sans", sans-serif;
}